{% extends "base.html" %}

{% block content %}
    <h2>{{ event.title }}</h2>

    <table>
        <tr>
            <td>Time:</td>
            <td>{{ event.start_date|date:"d.m.Y" }} - {{ event.start_date|time:"H:i" }}</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>{{ event.location }}</td>
        </tr>
        <tr>
            <td>Attendees:</td>
            <td>{{ event.attendees|length }}/{{ event.seats }}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <td>Restriction:</td>
            <td>{{ event.get_restriction }}</td>
        </tr>
    </table>
    
    {% ifequal status 'attending' %}
        <p>You are attending this event! <a href="{% url unattend event.id %}">Unattend</a></p>
    {% else %}{% ifequal status 'nofree' %}
        <p>There are no free seats for this event.</p>
    {% else %}{% ifequal status 'needlogin' %}
        <p>You need to login to see you status for this event.</p>
    {% else %}
        <p>You can attend this event! <a href="{% url attend event.id %}">Attend</a></p>
    {% endifequal %}
    {% endifequal %}
    {% endifequal %}
{% endblock content %}
