{% extends "base.html" %}

{% block content %}
    <h2>{{ event.title }}</h2>

    <table>
        <tr>
            <td>Tidspunkt:</td>
            <td>{{ event.start_date|date:"d.m.Y" }} - {{ event.start_date|time:"H:i" }}</td>
        </tr>
        <tr>
            <td>Sted:</td>
            <td>{{ event.location }}</td>
        </tr>
        <tr>
            <td>Antall plasser:</td>
            <td>{{ event.seats }}</td>
        </tr>
        <tr>
            <td>Beskrivelse:</td>
            <td>{{ event.description }}</td>
        </tr>
    </table>
{% endblock content %}
