{% extends "base.html" %}

{% block content %}
    <h2>{{ event.title }}</h2>

    {% if user.is_staff %}
    <p>Administration:</p>
    <ul>
        <li>View statistics for this event: <a href="{% url stats_event event.id %}">Stats</a></li>
        <li>Download a PDF with attendees for this event: <a href="{{ event.get_absolute_url }}attendees/">PDF</a></li>
        <li>Emails for all attendees: <a href="{% url attendee_emails event.id %}">Emails</a></li>
    </ul>

    <p>Event info:</p>
    {% endif %}

    <table>
        <tr>
            <td>Time:</td>
            <td>{{ event.start_date|date:"d.m.Y" }} - {{ event.start_date|time:"H:i" }}</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>{{ event.location }}</td>
        </tr>
        <tr>
            <td>Attendees:</td>
            <td>{{ event.attendees|length }}/{{ event.seats }}</td>
        </tr>
        <tr>
            <td>Restriction:</td>
            <td>{{ event.get_restriction }}</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>{{ event.description }}</td>
        </tr>
    </table>
    
    {% ifequal status 'attending' %}
        <p>You are attending this event! <a href="{% url unattend event.id %}">Unattend</a></p>
    {% else %}{% ifequal status 'nofree' %}
        <p>There are no free seats for this event.</p>
    {% else %}{% ifequal status 'needlogin' %}
        <p>You need to login to see your status for this event.</p>
    {% else %}
        <p>You can attend this event! <a href="{% url attend event.id %}">Attend</a></p>
    {% endifequal %}
    {% endifequal %}
    {% endifequal %}
{% endblock content %}
